.header{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    padding: 0 1rem;
}
.header button{
    background-color: lightgreen;
    height:40px;
    width:fit-content;
    border: 1px solid black;
    border-radius: 20px;
}
.section p{
    padding: 0 1rem;
    padding-bottom: 1rem;
}
.sectionLeft, .sectionRight{
    width:30vw;
}